.popup {
  $white-100: #fff;

  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;

  /** Установить свои значения */
  padding: rem(30) rem(10);
  background-color: rgba(#000, 50%);
  z-index: 2000;
  transition: opacity 0.4s ease-in-out;

  &.is-open {
    opacity: 1;
    pointer-events: auto;

    .popup__content {
      transform: translateY(0);
      opacity: 1;
    }
  }

  // .popup__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 100%;
  }

  // .popup__content
  &__content {
    position: relative;
    width: 100%;
    margin: 0 auto;

    /** Установить свои значения */
    padding: rem(30) rem(50);
    max-width: rem(690);
    background-color: $white-100;
    transform: translateY(rem(-200));
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  // .popup__close
  &__close {
    position: absolute;

    /** Установить свои значения */
    top: rem(20);
    right: rem(20);
    width: rem(40);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #000;
    border-radius: rem(8);
  }
}


.popup-right {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 0;
    overflow: hidden;
		&__container {
      display: flex;
      width: 100%;
      flex: auto;
      padding: 0;
      max-width: rem(1440);

      @media(max-width:540px){
        padding: 0;
      }
		}

		&__content {
      position: relative;
      z-index: 1;
      margin-left: auto;
      height: auto;
      background: #fff;
      padding: rem(24) rem(40) rem(40);
      max-width: rem(400);
      width: 100%;
      display: flex;
      transform: translateX(100%);
      transition: all 0.6s ease  0s;
      &::before {
          position: absolute;
          content: '';
          width: 100vw;
          height: 100%;
          background: #fff;
          top:0;
          left: 0;
          z-index: -1;
      }

      @media(max-width:540px){
        max-width: 100%;
        padding: rem(24) rem(20);
      }

      .is-open & {
        transform: translateX(0);
      }
		}

    &__body {
      flex: auto;
      display: grid;
      grid-template-rows: 1fr auto 1fr;
    }

		&__head {
      display: flex;
      justify-content: space-between;
      gap: rem(20);
		}

		&__title {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      text-transform: lowercase;
      max-width: rem(270);
		}

		&__button-close {
      background: none;
      width: rem(20);
      height: rem(20);
      cursor: pointer;
      transition: all 0.3s ease  0s;
      svg {
        g {
          path {
            transition: all 0.3s ease  0s;
          }
        }
      }
      &:hover {
        svg {
          g {
            path {
              stroke: #000;
            }
          }
        }
      }
		}

		&__center {
		}

		&__form {
		}

		&__item-row {
      display: flex;
      flex-direction: column;
      gap: rem(40);
		}

		&__item-input {
		}
    input {
      width: 100%;
    }

		&__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      gap: rem(24);
      padding-bottom: rem(40);
		}

		&__social {
      max-width: rem(180);
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: rem(10);

      p {
        font-size: rem(16);
        line-height: 100%;
        text-align: center;
        color: #000;
      }
		}

		&__social-link {
      width: rem(20);
      height: rem(20);
      svg {
        display: block;
        width: 100%;
        height: auto;
  
        g {
          path {
            transition: all 0.3s ease  0s;
          }
        }
        path {
          transition: all 0.3s ease  0s;
        }
      }
      &:hover {
        svg {
          g {
            path {
              fill: var(--pink);
            }
          }
          path {
            fill: var(--pink);
          }
        }
      }
		}

  &__sub-block {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    margin-top: rem(20);
  
  }

  &__item-checkbox {
  }

  &__button-password {
    font-size: rem(12);
    line-height: 100%;
    color: #000;
    transition: all 0.3s ease  0s;
    cursor: pointer;
    &:hover {
      color: var(--pink);
    }
  }

  &__button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);
    margin-top: rem(60);
  }

  &__button {
    font-size: rem(16);
    width: 100%;
    padding: rem(16);
  }

  &__button-change {
    font-size: rem(16);
    line-height: 100%;
    color: #000;
    transition: all 0.3s ease  0s;
    cursor: pointer;
    &:hover {
      color: var(--pink);
    }
  }
}
.popup-item-checkbox {
  display: flex;
  gap: rem(12);
  font-size: rem(12);
  line-height: 100%;
  color: #000;
  cursor: pointer;

  &:hover {
    span {
      border-color: #565656;
    }
  }
  &__input {
    display: none;

    &:checked + .popup-item-checkbox__square {
      border: rem(6) solid var(--pink);
      transition: all 0s ease  0s;
    }
  }

  &__square {
    border: rem(1) solid #ccc;
    width: rem(12);
    height: rem(12);
    transition: all 0.3s ease  0s;
  }
}


.popup-ent-reg-body {
  display: none;
  &.active {
    display: grid;
  }
}



.popup-basket {
  position: fixed;
  top: rem(80);
  right: -100%;
  width: auto;
  z-index: 1000;
  transition: all 1s ease-in-out  0s;
  @media(max-width:450px){
      width: calc(100% - 2.5rem);
  }
  &.is-open {
    right: 0;

    @media(max-width:450px){
      width: calc(100% - 40px);
      right: 50%;
      transform: translateX(50%);
    }
  }
  &__content {
    background: #000;
    padding: rem(20) rem(80) rem(20) rem(20);
    display: inline-flex;
    gap: rem(20);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    @media(max-width:450px){
        width: 100%;
    }
  }

  &__img {
    width: rem(64);
    height: rem(64);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(12);
  }

  &__top {
    display: flex;
    align-items: center;
    gap: rem(12);
    p {
      color: #999;
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      text-transform: lowercase;
    }
  }

  &__title {
    color: #fff;
  }

  &__mill {
    font-weight: 700;
    font-size: rem(12);
    text-transform: lowercase;
    color: #ff008a;
  }
}




.popup-filter {
  &:not(.is-open) {
    .item-filter__body-all {
      pointer-events: none;
    }
  }
  .popup-right__content {
    margin-left: 0;
    margin-right: auto;
    padding-bottom: rem(24);
    transform: translateX(-100%);
   
    &::before {
      right: 0;
      left: auto;
    }
    

    @media(max-width:480px){
        padding: rem(24) rem(20);
    }

  }
  &.is-open .popup-right__content {
    transform: translateX(0) !important;
  }

  .popup-right__body {
    display: flex;
    flex-direction: column;
  }
  .popup-right__center {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    flex: auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: rem(-40);
    padding-right: rem(40);
    @media(max-width:480px){
      margin-right: rem(-20);
      padding-right: rem(20);
  }
  }
  .popup-right__head {
    margin-bottom: rem(60);
  }
  &__head-left {
    display: flex;
    align-items: center;
    gap: rem(20);
  }
  &__clear {
    font-weight: 700;
    font-size: 12px;
    text-transform: lowercase;
    color: #999;
    transition: all 0.3s ease  0s;
    cursor: pointer;
    background: none;
    &:hover {
      color: #000;
    }
  }

  .popup-right__bottom {
    position: sticky;
    bottom: 0;
    padding: rem(24) rem(40);
    margin-bottom: rem(-24);
    margin-left: rem(-40);
    margin-right: rem(-40);
    background: #fff;
  }
  &__button-bot {
    width: 100%;
    font-size: rem(16);
    padding: rem(16);
  }

  &__avail {
  }

  &__title-item {
    font-weight: 700;
    text-transform: lowercase;
    color: #000;
  }

  &__range-row {

    .range {

      &__row-input {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(23);
      }


      &__item-input {
        width: auto;
        display: inline-flex;
        justify-content: start;
        gap: rem(5);
        padding-bottom: rem(12);
        border-bottom: 1px solid #ccc;
        input {
          display: inline-block;
          // width: max-content;
          min-width: rem(7.5);
          max-width: rem(80);
        }
        input,p {
          font-weight: 700;
          font-size: rem(12);
          text-transform: lowercase;
          color: #000;
        }
      }

      &__min-input {
        width: 0;
      }
  
      &__max-input {
        width: 0;
      }

      &__slider {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: #ccc;
            top:0;
            left: 0;
        }
        padding-right: rem(8);
        padding-left: rem(8);
      }
    }
  
  }
}

.item-filter {

  &__head {
    display: flex;
    align-items: center;
    gap: rem(20);

    &._active + .item-filter__body {
      padding-top: rem(28);
      
      max-height: 1000px;
      opacity: 1;
      pointer-events: all;
    }
  }

  &__title {
    display: inline-flex;
    align-items: center;
    gap: rem(8);
    font-weight: 700;
    text-transform: lowercase;
    color: #000;
    cursor: pointer;
  }

  &__clear.popup-filter__clear {
    margin-left: auto;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease  0s;
    width: auto !important;

    .option-selected & {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__quantity {
    font-weight: 700;
    font-size: rem(12);
    text-transform: lowercase;
    color: #ff008a;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease  0s;

    .option-selected & {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__body {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease  0s;
    padding-left: rem(20);

    @media(max-width:750px){
      flex-direction: column;
      padding-left: 0;
      .open-all & {
        display: none;
      }
    }
  }

  &__body-all {
    max-height: 100%;
      
    @media(min-width:751px){
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      max-height: 100%;
      width: auto;
      height: 100%;
      padding: rem(40);
      background-color: #fff;
      border-left: 1px solid #ccc;
      display: flex;
      flex-direction: column;
      gap: rem(40);
      flex: auto;
      min-width: rem(300);
      transition: all 0.7s ease  0s;
      z-index: -2;
      .open-all & {
        left: 100%;
        opacity: 1;
        pointer-events: all;
      }
  
      .item-filter__button-row {
        margin-top: 0;
      }
      .item-filter__row {
        overflow-y: auto;
        margin-left: rem(-40);
        margin-right: rem(-40);
        padding-left: rem(40);
        padding-right: rem(40);
        margin-bottom: rem(-40);
        padding-bottom: rem(40);
      }
    }

    @media(max-width:750px){
      opacity: 1;
      display: none;
      flex-direction: column;
      gap: rem(28);
      margin-top: rem(28);
      padding-bottom: rem(28);
      .open-all & {
        display: flex;
        pointer-events: all;
      }
      .item-filter__button-row {
        order: 5;
        margin-top: 0;

      }
    }
    .item-filter__button.btn-no-all {
      display: flex;
      color: #999;
   
    }
    
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__item-input {
    display: flex;
    align-items: center;
    gap: rem(12);
    cursor: pointer;
    input {
      display: none;
      &:checked + .square {
        border-color: var(--pink);
        background: var(--pink);
      }
    }
    span {
      transition: all 0.3s ease  0s;
    }
    .square {
      width: rem(16);
      height: rem(16);
      border: 1px solid #ccc;
      transition: all 0.3s ease  0s;
    }
    &:hover {

      color: var(--pink);
    }
  }
  &__button-row {
    margin-top: rem(28);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(40);
    font-weight: 700;
    font-size: rem(12);
    text-transform: lowercase;
    color: #000;
    cursor: pointer;
    span {
      padding-bottom: rem(1);
      transition: all 0.3s ease  0s;
    }

    svg {
      path {
         transition: all 0.3s ease  0s;
      }
    }
    &:hover {
      color: var(--pink);
      svg {
        path {
          fill: var(--pink);
        }
      }
    }

    &.btn-all {
      color: #ccc;

      &:hover {
        color: #000;
        svg {
          path {
            fill: #000;
          }
        }
      }
      .open-all & {
        display: none;
      }
    }

    &.btn-no-all {
      display: none;
      .open-all &{
        display: flex;
      }
    }
  }

  .quest-item {

    &__icon {
      width: rem(7);
      height: rem(7);
      &::before, &::after {
        width: rem(1.5);
        height: rem(7);
      }
    }
  }

  .header-search__item-input {
    input {
      text-align: right;
      font-size: rem(16);
      padding-bottom: rem(20);
    }
  }
  button {
    width: rem(16);
    height: rem(16);
    svg {
      width: rem(16);
      height: rem(16);
    }
  }
  
}

.avail-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(20);

  &__item-input {
    cursor: pointer;
  }

  &__input {
    display: none;

    &:checked + .avail-filter__icon .square {
      right: rem(16);
      background: #000;
    }
  }

  &__icon {
    display: block;
    position: relative;
    width: rem(32);
    height: rem(16);
    border: 1px solid #ccc;

    .square {
      position: absolute;
      right: 0;
      top: 0;
      margin: -1px;
      width: rem(16);
      height: rem(16);
      background: #999;
      transition: all 0.3s ease-in-out  0s;
    }
  }

  
}



.popup-feedback {
  .input-text  {
    width: 100%;
    resize: none;
    max-height: rem(324);
  }
  .textarea-auto-height {
    padding-bottom: 0;
    font-size: rem(16);
  }
  .popup-right__body {
    display: flex;
    flex-direction: column;
    gap: rem(60);
  }
}

.estim-feedback {
  display: flex;
  align-items: center;
  gap: rem(20);
  margin-top: rem(40);
  &__input {
    display: none;
  }

  &__text {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: auto;
    color: #999;
  }

  &__number {
    margin-left: auto;
    font-weight: 700;
    font-size: rem(20);
  }
  &__star-row {
    display: flex;
    align-items: center;
    gap: rem(8);
  }
  &__star {
    cursor: pointer;
    width: rem(20) !important;
    height: rem(19);
    // height: auto;
  }
}


.basket {
  .popup-right__content {
    padding: 0 rem(40) rem(24);
    min-width: rem(600);
    @media(max-width:650px){
        min-width: 100%;
        width: 100%;
        padding: 0 rem(20) rem(24);
    }
  }
  .popup-right__body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: rem(40);
    margin-right: rem(-40);
    @media(max-width:650px){
      padding-right: rem(20);
      margin-right: rem(-20);
    }
  }
  .popup-right__head {
    padding-top: rem(24);
    padding-bottom: rem(20);
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
  }
  &__row-card {
  }

  &__bottom {
  }

  &__row-card {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    margin-top: rem(40);

    .card {

      &__body {
        flex-direction: row;
        gap: rem(20);
      }
    
      &__img {
        max-width: rem(100);
        min-width: rem(100);
        height: rem(100);

      }
  
    
      &__info {
        justify-content: end;
        gap: rem(12);
        flex: auto;
        
      }
    
      &__title {
        margin-right: rem(20);
        cursor: auto;
      }
    
      &__selected-volume {
        font-size: rem(12);
        font-weight: 700;
        text-transform: lowercase;
        color: #999;
      }
    
      &__price-row {
        position: relative;
        justify-content: end;
      }
    
      &__discount {
      }
    
      &__price-calc {
        display: flex;
        gap: rem(4);
        position: absolute;
        bottom: 

        calc(100% + 4px);
        font-weight: 700;
        font-size: rem(8);
        line-height: 100%;
        color: #999;

        span.pink {
          color: var(--pink);
        }
      }
    
      &__result-price {
        font-weight:700;
        font-size: rem(16);
        @media(max-width:480px){
            font-size: rem(12);
        }
      }

      &__btn-content {
        width: 0;
        background: rgba(0, 0, 0, 0);
        margin-left: rem(-20);
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease  0s;

        @media(max-width:1024px){
          display: flex;
          align-items: end;
          justify-content: end;
          position: fixed;
          bottom: 0;
          right: 0;
          height: 100vh;
          width: 100vw;
          visibility: hidden;
          margin-left: 0;
          background: rgba(0, 0, 0, 0.2);
          z-index: 50;
        }
      }
      @media(min-width:1025px){
        &:hover {
          .card__btn-content {
            opacity: 1;
            pointer-events: all;
            margin-left: rem(-39);
            width: rem(72);
          }
        }
      }
      @media(max-width:1024px){
        &.active-btn .card__btn-content {
          opacity: 1;
          bottom: 0;
          pointer-events: all;
          visibility: visible;
        }
        &.active-btn .card__basket-btn-row {
          bottom: 0;
        }
      }
      &__basket-btn-row {
        height: 100%;
        display: flex;
        gap: rem(12);
        @media(max-width:1024px){
          position: relative;
          bottom: -100%;
          padding: rem(20);
          flex-direction: column;
          z-index: 50;
          background: #fff;
          transition: all 0.5s ease  0s;
          width: rem(600);
          height: auto;
        }
        @media(max-width:650px){
            width: 100%;
        }
      }

      &__btn-row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        gap: rem(12);

        input {
          display: none;
          @media(max-width:1024px){
              
              display: inline-block;
              font-weight: 700;
              font-size: rem(20);
              line-height: 100%;
              text-transform: lowercase;
              color: #000;
              pointer-events: none;
              width: max-content;
              text-align: center;
          }
        }
        @media(max-width:1024px){
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
      }
  
      &__btn-plus, &__btn-minus {
        width: rem(20);
        height: rem(20);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999;
        font-size: rem(20);
        font-weight: 700;
        background: #f1f1f1;
        padding-bottom: rem(4);
        cursor: pointer;
        transition: all 0.3s ease  0s;
        &:hover {
          background: #dcdbdb;
        }

        @media(max-width:1024px){
          border: 1px solid #000;
          width: rem(40);
          height: rem(40);
          background: #fff;
          color: #000;
          &:hover {
            background: #fff;
          }
        }
      }
  
      &__btn-minus {
      }
  
      &__btn-delete {
        background: #000;
        width: rem(40);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(10);
        cursor: pointer;
        transition: all 0.3s ease  0s;
        svg {
          width: rem(20);
          height: auto;
        }
        span {
          display: none;
        }
        &:hover {
          background: #ff008a;
        }

        @media(max-width:1024px){
            position: relative;
            z-index: 1;
            svg {
              display: none;
            }
            span {
              display: block;
            }
            width: 100%;
            color: #fff;
            padding: rem(16);
            font-weight: 700;
            text-transform: lowercase;
        }
      }
  }
  
  }

  &__promocode {
    margin-top: rem(60);
    .item-input-text.focus {
      transition: all 0.3s ease  0s;
      border-color: #ff008a;
    }
    input {
      text-transform: uppercase;
      color: #ff008a;
      font-weight: 700;
    }
    input::placeholder {
      color: #ccc;
      text-transform: lowercase;
    }
    
  }

  .product__bottom-left {
    margin-top: rem(44);
    padding-top: rem(16);
    position: sticky;
    bottom: 0;
    background: #fff;
    z-index: 1;
  }
  .product__buy-click {
    display: inline-block;
    text-align: center;
    margin-top: rem(20);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  &__result {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: rem(20);
    p {
      font-weight: 700;
      font-size: rem(16);
      color: #999;
    }
  }

  p.basket__price-result {
    font-size: rem(20);
    color: #000;
  }

  &__button-arrange {
    width: 100%;
    padding: rem(16);
    font-size: rem(16);
  }

  .product {

    &__btn-row { 
      margin-top: rem(24);
      @media(max-width:600px){
          gap: rem(12);
      }
    }
  
    &__form-buy-click {
    }
  
    &__button {
    }
    input {
      max-width: rem(244);
    }
  }
  .product__form-buy-click .popup-right__item-input {
    max-width: rem(244);
    min-width: rem(204);
  }
  button.product__button {
    width: 100%;
    background: #f1f1f1;
    color: #999;

    &:hover {
      background: #e6e6e6;
      color: #000;
    }
  }
}





.basket-bot {
  margin-top: rem(100); 
  &__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: rem(24);
    line-height: 100%;
    text-transform: lowercase;
    color: #ff008a;
    margin-bottom: rem(40);
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(20);
    @media(max-width:600px){
      grid-template-columns: 1fr 1fr;
      gap: rem(40) rem(15);
    }
  }

  .card {

    &__body {
      gap: rem(16);
    }
  
    &__img {
    }
  
    &__mark {
    }
  
    &__pay {
    }
  
    &__btns-img {
    }
  
    &__btn-img {
    }
  
    &__btn-like {
    }
  
    &__btn-compare {
    }
  
    &__info {
    }
  
    &__title {
      font-size: rem(16);
    }
  
    &__price-row {
      gap: rem(12);
    }
  
    &__discount {
      font-size: rem(12)
    }
  
    &__price {
      font-size: rem(12)
    }
  }
}

