.tabs {


  // .tabs__nav
  &__nav {
    display: flex;
  }

  // .tabs__trigger
  &__trigger {
    transition: 0.2s ease-in-out;

    &.active {
      color: #000;
    }
  }

  // .tabs__content
  &__content {
  }

  // .tabs__panel
  &__panel {
    // animation: fade-up-big 0.4s forwards;
    display: none !important;

    &.active {
      display: flex !important;
    }
  }
}
