// Заголовки, общие БЄМ блоки и проче...

h1, h2 {
    font-family: var(--second-family);
    text-transform: lowercase;
        color: #ff008a;
}



.item-input-text {
    border-bottom: 1px solid #ccc;
}
.input-text {
    font-weight: 400;
    font-size: rem(16);
    line-height: 100%;
    text-transform: lowercase;
    color: #000;
    background-color: #fff;
    padding-bottom: rem(20);
    width: 100%;
}

input::placeholder, textarea::placeholder {
    color: #999;
    font-weight: 700;
}


.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: rem(20);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: lowercase;
    color: #fff;
    background-color: #000;
    padding: rem(19) rem(24) rem(21);
    cursor: pointer;
    transition: all 0.3s ease  0s;
    white-space: nowrap;
    // --font-family: "CaviarDreams", sans-serif;
    span {
        white-space: nowrap;
        font-weight: 700;
    }

    &:hover {
        background-color: var(--pink);
    }



    &.white {
        background: #fff;
        color: #1a1a1a;
        font-weight: 700;
        span {
            margin-top: rem(-1);
        }

        svg {
            path {
               transition: all 0.3s ease  0s;
            }
        }
          &:hover {
            color: var(--pink);
            svg {
              path {
                fill: var(--pink);
              }
            }
          }
    }

    &.pink {
        background: var(--pink);

        &:hover {
            background: #000;
        }
    }

    @media(max-width:520px){
        font-size: rem(16);
        padding: rem(15) rem(20) rem(17);
    }
}

section {
    padding-top: rem(180);
    
    &:last-of-type {
        padding-bottom: rem(180) !important;
    }
    @media(max-width:720px){
        padding-top: rem(160);
        &:last-of-type {
            padding-bottom: rem(160) !important;
        }
    }
}

h2 {
    font-family: var(--second-family);
    font-weight: 500;
    text-transform: lowercase;
    font-size: rem(100);
    @media(max-width:720px){
        font-size: rem(50);
    }
}


.slider-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(80);
    gap: rem(40);
    @media(max-width:480px){
        gap: rem(24);
    }
    &__button-prev, &__button-next {
        width: rem(42);
        min-width: rem(42);
        height: rem(16);
        cursor: pointer;
        img, picture {
            width: 100%;
            transition: all 0.3s ease  0s;
        }
        &:hover {
            img {
                filter: brightness(1) invert(1);
            }
        }
        @media(max-width:480px){
            width: rem(26);
            min-width: rem(26);
            height: rem(12);
        }
    }

    &__button-next {
        img, picture {
            transform: rotate(180deg);
        }
    }
    &__pagination {
        position: relative !important;
        width: 100%;
        height: rem(2) !important;
        background: #ccc;

        .swiper-pagination-progressbar-fill {
            background: var(--pink) !important;
        }
    }

}


.title-head {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: rem(16) rem(40);
    flex-wrap: wrap;
    margin-bottom: rem(40);
    
    @media(max-width:480px){
        flex-direction: column;
    }
    h2 {
        width: auto;
        
        color: #ff008a;
        @media(max-width:480px){
            margin-right: auto;
            
        }

        &.black {
            color: #000;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(20);
        font-weight: 700;
        font-size: rem(20);
        line-height: 100%;
        text-transform: lowercase;
        color: #000;
        margin-top: rem(8);
        margin-bottom: rem(8);
        white-space: nowrap;
        span {
            transition: all 0.3s ease  0s;
        }
        svg {
            width: rem(41);
            height: auto;
            margin-top: rem(3);
            path {
                transition: all 0.3s ease  0s;
            }
        }
        &:hover {
            color: var(--pink);
            svg {
              path {
                fill: var(--pink);
              }
            }
        }

        @media(max-width:720px){
           
            font-size: rem(16);
            svg {
                width: rem(30);
                height: auto;
            }
        }
        @media(max-width:480px){
            margin-bottom: 0;
            margin-top: 0;
        }


        &.white {
            color: #fff;

            svg {
                width: rem(41);
                height: auto;
                margin-top: rem(3);
                path {
                    transition: all 0.3s ease  0s;
                    fill: #fff;
                }
            }
            &:hover {
                color: #000;
                svg {
                  path {
                    fill: #000;
                  }
                }
            }
        }
    }


    &.left-center {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20);

        @media(max-width:1100px){
            max-width: rem(635);
            .title-head__link {
                margin-left: auto;
            }
        }
        @media(max-width:720px){
            max-width: 100%;
            width: 100%;
            gap: rem(16);
            align-items: start;
        }
    }

    &.left {
        justify-content: start;
        align-items: start;

        @media(max-width:480px){
            .title-head__link {
                margin-left: auto;
            }
        }
    }

    &.right-mob {
        @media(max-width:480px){
            h2 {
                margin-right: 0;
                margin-left: auto;
            }
        }
    }
}




.card-row {
    display: grid;
    gap: rem(100) rem(80);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .promo__card {
        grid-column: span 4;
    }
    @media(max-width:1260px){
        gap: rem(80) rem(60);
    }
    @media(max-width:1150px){
        grid-template-columns: 1fr 1fr 1fr;
        .promo__card {
            grid-column: span 3;
        }
    }
    @media(max-width:900px){
        gap: rem(40) rem(15);
    }
    @media(max-width:670px){
        grid-template-columns: 1fr 1fr;
        .promo__card {
            grid-column: span 2;
        }
    }


    &:not(.row-two) {
        .card.big-card-two {
                grid-column: span 2;
                height: auto;
                .card__body {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: rem(60);
                    height: 100%;
                }
                .card__img {
                    width: auto;
                    order: 2;
                    height: 100%;
                    margin-left: rem(-132);
                    aspect-ratio: unset;
                }
                .card__info {
                    position: relative;
                    z-index: 2;
                    order: 1;
                
                    align-items: start;
                    justify-content: start;
                    padding-bottom: 10%;
                    padding-top: 25.5%;
                }
                .card__head {
                    justify-content: start;
                    gap: rem(40);
                }
                .card__availab {
                    color: var(--pink);
                }
                .card__title {
                    z-index: 1;
                    font-family: var(--second-family);
                    font-weight: 500;
                    font-size: rem(36);
                }
                @media(max-width:1150px){
                    grid-column: span 2;
        
                    .card__title {
                        margin-top: 0;
                        text-align: left;
                    }
                    .card__price-row {
                        justify-content: start;
                    }
                }
                @media(max-width:900px){
                    .card__body {
                        gap: rem(15);
                    }
                    .card__title {
                        font-size: rem(30);
                    }
                    .card__img {
                        margin-left: rem(-102);
                    }
                }
                @media(max-width:480px){
                    .card__info {
                        gap: rem(16);
                        padding-bottom: 10%;
                        padding-top: 34.5%;
                    }
                    .card__title {
                        font-size: rem(20);
                    }
                    .card__img {
                        margin-left: rem(-55);
                        margin-left: -36%;
                    }
                  
                }
                .volum-card {
                    display: none;
                }
                &::before {
                    display: none;
                }
                margin-bottom: 0 !important;
        }
    }
}

.card {
    position: relative;
    
    @media(min-width:1025px){
        &.card-hover {
            &::before {
                position: absolute;
                content: '';
                width: calc(100% + 90px);
                height: calc(100% + 90px);
                background: #ffffff;
                top:-45px;
                left: -45px;
                z-index: -1;
               
                opacity: 0;
                pointer-events: none;
                box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
            }
        }
        &.card-hover:hover {
            z-index: 5;
            &::before {
                transition: all 0.5s ease  0s;
                opacity: 1;
                pointer-events: all;
            }
            .volum-card {
                display: flex;
            }
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        &:hover {
            img {
                transform: scale(1.04);
            }
        }
    }

    &__img {
        width: 100%;
        position: relative;
        aspect-ratio: 1/1;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1s ease  0s;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(20);
    }

    &__title {
        font-size: rem(20);
        color: #000;
        cursor: pointer;
        a {
            color: #000;
            transition: all 0.3s ease  0s;
        }

        &:hover {
            a {
                color: var(--pink);
            }
        }
        @media(max-width:900px){
            font-size: rem(18);
        }
        @media(max-width:520px){
            font-size: rem(16);
        }
    }

    &__price-row {
        position: relative;
        z-index: 1;
        display: flex;
        font-size: rem(16);
        width: 100%;
        gap: rem(20);
        flex-wrap: wrap;
        @media(max-width:900px){
            font-size: rem(14);
        }
        @media(max-width:520px){
            font-size: rem(12);
            gap: rem(4) rem(16);
        }
    }

    &__discount {
        color: #999;
        text-decoration:line-through;
        
    }

    &__price {
        font-weight: 700;
    }
    &__head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: rem(20);
    }
    &__estim { 
        display: flex;
        align-items: center;
        gap: rem(8);
        @media(max-width:480px){
            gap: rem(4);
        }
    }

    &__estim-number {
        font-weight: 700;
        font-size: rem(12);
        @media(max-width:480px){
            font-size: rem(8);
        }
    }

    &__estim-star {
        display: flex;
        align-items: center;
        svg {
            width: rem(16);
            height: auto;
            @media(max-width:480px){
                width: rem(12);
            }
        }

        svg.marked {
            path {
                stroke:#000;
                fill:#000;
            }
        }
    }

    &__availab {
        font-weight: 700;
        font-size: rem(12);
        text-transform: uppercase;
        color: #999;
        @media(max-width:480px){
            font-size: rem(8);
        }
    }
    
    &__mark {
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: rem(28);
        height: rem(28);
        color: #fff;
        font-weight: 700;
        font-size: rem(8);
        text-transform: uppercase;

        &.prc {
            background: #ff008a;
        }
        &.top {
            background: #dbba9b;
        }
        &.new {
            color: #ff008a;
            background: #1a1a1a;
        }

        &.active {
            display: flex;
        }
    }

    &.t-right {
        .card__title {
            text-align: right;
        }
        .card__price-row {
            justify-content: end;
            text-align: right;
        }
    }

    &__pay {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        width: rem(40);
        height: rem(40);
        transition: all 0.5s ease  0s;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;

        &:hover {
            background: var(--pink);
        }
        @media(max-width:1024px){
            opacity: 1;
            pointer-events: all;
        }
        @media(max-width:480px){
            width: rem(28);
            height: rem(28);
            svg {
                width: rem(12);
                height: auto;
            }
        }
    }

    &:hover {
        .card__pay {
            opacity: 1;
            pointer-events: all;
        }
    }


    &__btns-img {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
    }
    &__btn-img {
        position: relative;
        z-index: 4;
        width: rem(28);
        height: rem(28);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: rem(12);
            height: rem(12);
            path {
              transition: all 0.3s ease  0s;
            }
        }
        &:hover {
            color: var(--pink);
            svg {
              path {
                fill: var(--pink);
              }
            }
        }
    }
    &__btn-like.active {
        color: var(--pink);
        svg {
            path {
                fill: var(--pink);
            }
        }
    }
    &.big-card-one {
        grid-column: span 2;
        grid-row: span 2;

        .card__title {
            z-index: 1;
            font-family: var(--second-family);
            font-weight: 500;
            font-size: rem(36);
            margin-top: rem(-32);
        }

        @media(max-width:1150px){
            order: 5;
            grid-column: span 2;
            grid-row: span 1;

            .card__body {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: rem(62);
            }
            .card__info {
                margin-left: rem(-100);
                align-items: end;
                justify-content: end;
                padding-bottom: 20%;
            }
            .card__title {
                margin-top: 0;
                text-align: left;
            }
            .card__price-row {
                justify-content: start;
            }
        }
        @media(max-width:900px){
            .card__body {
                gap: rem(15);
            }
            .card__info {
                margin-left: rem(-55);
            }
            .card__title {
                font-size: rem(30);
            }
        }
        @media(max-width:670px){
            .card__info {
                margin-left: 0;
                padding-bottom: 0;
            }
            .card__body {
                display: flex;
                gap: 0;
            }
            .card__title {
                margin-top: rem(-12);
                text-align: right;
            }
            .card__price-row {
                justify-content: end;
            }
        }
    }

    &.card-big-three {
        @media(min-width:1371px){
                grid-column: span 2;

            .card__head {
                justify-content: start;
            }
            .card__body {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: rem(62);
            }
            .card__info {
                position: relative;
                z-index: 1;
                margin-left: rem(-80);
                align-items: end;
                justify-content: end;
                
                padding-bottom: rem(20);
            }
            .card__title {
                margin-top: 0;
                text-align: left;
                width: 100%;
                font-size: rem(36);
                font-family: var(--second-family);
                font-weight: 500;
                text-transform: uppercase;
            }
            .card__price-row {
                justify-content: start;
            }
            .card__availab {
                color: var(--pink);
            }
        }
    }
}

.volum-card {
    gap: rem(8);
    flex-wrap: wrap;
    display: none;
    animation: opacity 1s forwards;
    &__item {
        cursor: pointer;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: rem(3) rem(8);
            font-weight: 700;
            font-size: rem(12);
            color: #999;
            border: 1px solid #999;
            transition: all 0.3s ease  0s;

            &:hover {
                color: var(--pink);
                border-color: var(--pink);
            }
        }
    }

    &__input {
        display: none;

        &:checked + span {
            color: #fff;
            border-color: #000;
            background: #000;
            transition: all 0.15s ease  0s;
        }
    }
}


/* Используется только в WebKit-браузерах (например, в Chrome). */
input[type="password"] {
    -webkit-text-security: square;
	text-security: square;
    transition: all 0.3s ease  0s;
  }

input[type="password"] {
    -webkit-text-security: square;
}

input._error, ._error input, .item-input-text._error {
    border-color: red !important;
}



form {
    button[type="submit"] {
        opacity: 0.7;
        pointer-events: none;
    }
    &.unlock {
        button[type="submit"] {
            opacity: 1;
            pointer-events: all;
        }
    }
}


//выбор
.select {
    position: relative;
    display: block;

    &__head {
        display: flex;
        align-items: center;
        gap: rem(20);
        position: relative;
        width: auto;
        // max-width: 100%;
        font-size: rem(16);
        color: #000;
        font-weight: 700;
        text-transform: lowercase;
        cursor: pointer;
        padding-bottom: rem(5);
        padding-top: rem(5);
    }
    
    &__head::after {
        position: relative;
        width: rem(8);
        height: rem(8);
        background: #FFF url("@img/select-str.svg") no-repeat center / cover;
        margin-top: rem(1);
        content: '';
        display: block;
        transition: .2s ease-in;
    }
    
    &__head.open::after {
        transform: rotate(180deg);
    }
    
    &__list {
        // display: none;
        position: absolute;
        min-width: max-content;
        width: auto;
        top: 130%;
        left: rem(1);
        right: 0;
        background: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        margin-top: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 15;
        margin: 0;
        padding: 0;
        font-size: rem(14);
        color: #000;
        scrollbar-color: dark;
        scrollbar-width: thin;
        overscroll-behavior: contain;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease  0s;

        &.open  {
            max-height: 1000px;
            opacity: 1;
            pointer-events: all;
        }
        @media(max-width:650px){
            // position: relative;
            // width: 100%;
            // box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
            // border-radius: 8px;
            // border: 1px solid #D0D5DD;
            // pointer-events: none;
        }
    }
    
    &__list::-webkit-scrollbar {
        width: 7px;
        background-color: #F8F9FA;
        padding: 5px;
    }
    
    &__list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #D9D9D9;
    }
    
    &__list &__item {
        position: relative;
        // border-top: 1px solid rgba(224, 229, 231, 0.5);
        padding: rem(10);
        text-transform: lowercase;
        cursor: pointer;
        list-style-type: none;
        transition: all 0.3s ease  0s;
        @media(max-width:650px){
            padding: rem(10) rem(14);
        }
    }
    &__list &__item.open {
        background: #F9FAFB;
    }
    
    &__list &__item:hover {
        background-color: rgba(224, 229, 231, 0.5);
    }
}