@font-face {
	font-family: Angst;
	font-display: swap;
	src: url("../fonts/Angst-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Angst;
	font-display: swap;
	src: url("../fonts/Angst-Normal.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Angst;
	font-display: swap;
	src: url("../fonts/Angst-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: CaviarDreams;
	font-display: swap;
	src: url("../fonts/CaviarDreams.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Caviar_Dreams_Bold;
	font-display: swap;
	src: url("../fonts/Caviar_Dreams_Bold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SFProText;
	font-display: swap;
	src: url("../fonts/SFProText-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: SFProText;
	font-display: swap;
	src: url("../fonts/SFProText-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
